.dndflow {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    height: 100%;
  }
  
  .dndflow aside {
    border-right: 1px solid #eee;
    padding: 10px 10px;
    font-size: 12px;
    background: white;
  }
  
  .dndflow aside .description {
    margin-bottom: 10px;
  }
  
  .dndflow .dndnode {
    height: 40px;
    padding: 4px;
    border: 1 px solid #1a192b;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
  }
  
  .dndflow .dndnode.input {
    border-color: #0041d0;
    background-color: #0041d0;
  }
  
  .dndflow .dndnode.output {
    border-color: #ff0072;
    background-color: #ff0072;
  }
  
  .dndflow .reactflow-wrapper {
    flex-grow: 1;
    height: 100%; 
  }
  
  .dndflow .selectall {
    margin-top: 10px;
  }


  
  .mindmap_child_div {
    margin-right:5px ;
    display: flex;
    padding: 1px;
    background:#ECE5D9;
    height: 20vw;
    width: 20vw;
    position: absolute;
    top: 2%;
    right: 0.5%;
    border-radius: 5px;  
    border: 2px #3A3D4E solid;
   
  }
  
  .mindmap_avatar_child_div{
    display:flex;
    align-items: center;
    position: absolute;
    top: 2%;
    left: 0.5%;
  
  }

  
  
  @media screen and (min-width: 768px) {
    .dndflow {
      flex-direction: row;
    }
  
    .dndflow aside {
      width: 100%;
      max-width: 350px;
    }
  }
  